@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Rubik:wght@300&display=swap');

:root {
    --primary: #106cc8;
    --dark: #303133;
    --light: #fff;
    --gray: #eeee;
}

* {
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mp-container {
    max-width: 1200px;
    height: inherit;
    margin: 0 auto;
}

.h-full {
    height: 100%;
    min-height: 100%;
}
.w-full {
    width: 100%;
    min-width: 100%;
}
.d-flex {
    display: flex !important;
}
.items-center {
    align-items: center !important;
}
.items-start {
    align-items: flex-start !important;
}
.items-end {
    align-items: flex-end !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-end {
    justify-content: flex-end !important;
}
.justify-start {
    justify-content: flex-start !important;
}


.bg-primary {
    background: var(--primary) !important;
}
.bg-dark {
    background: var(--dark) !important;
}
.bg-gray {
    background: var(--gray) !important;
}
.bg-light {
    background: var(--light) !important;
}


.text-common {
    font-size: 16px; /* 18px */
    line-height: 16px;
}
.text-xl {
    font-size: 18px; /* 20px */
    line-height: 26px; /* 28px */
}
.text-2xl {
    font-size: 21px; /* 24px */
    line-height: 28px; /* 32px */
}
.font-normal {   font-weight: 400; }
.font-medium {   font-weight: 500; }
.font-semibold {	font-weight: 600; }
.font-bold { font-weight: 700; }

.text-primary {
    color: var(--primary) !important;
}
.text-dark {
    color: var(--dark) !important;
}
.text-light {
    color: var(--light)
}

.border-bottom {
    border-bottom: 1px solid #eeee;
}

.no-mobile {
    display: none !important;
}
.no-destop {
    display: inherit;
}
.mobile-gap {
    gap: 15px;
}

@media only screen and (min-width: 760px) {
    .no-mobile {
        display: flex !important;
    }
    .no-destop {
        display: none !important;
    }
    .mobile-gap {
        gap: inherit;
    }
    .text-common {
        font-size: 18px; /* 18px */
        line-height: 18px;
    }
    .text-xl {
        font-size: 20px; /* 20px */
        line-height: 28px; /* 28px */
    }
    .text-2xl {
        font-size: 24px; /* 24px */
        line-height: 32px; /* 32px */
    }
}